# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
myenv/
venv/
.venv/
env/
venv_anc/

# Downloaded datasets
anc-dataset-pipeline/scripts/data/_downloads/

# Generated data
data/
outputs/
checkpoints/
runs/
*.wav
*.mp3
*.flac
*.zip
*.onnx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db